.background {
  background: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #8ECAE6;
  text-align: center;
}

header h1 {
  color: #023047;
  font-family: fantasy;
  font-weight: 900;
  font-size: 75px;
  text-align: center;
}

p {
  color: #fff;
  font-weight: 700;
}

.formContainer {
  color: #023047;
  font-weight: 800;
  font-family: fantasy;
}

.container img {
  width: 250px;
  box-shadow: 0 4px 8px 0 #023047, 0 6px 20px 0 #023047;
  text-align: center;
}