* {
  box-sizing: border-box;
  margin: 10px;
  padding: auto;
}

.background {
  background: linear-gradient(
  rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.1)), 
  url('./images/background.jpg');
  height: 125vh;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #343a40;
}

/* styling below for the search feature of the webpage */
header h1 {
  color: #fff;
  font-family: fantasy;
  font-weight: 900;
  font-size: 65px;
  text-align: center;
}

#card {
position: absolute;
top: 35%;
color: #fff;
line-height: 2em;
}

p {
  width: 246px;
  text-align: center;
  box-shadow: 0 4px 8px 0 #000;
  border-radius: 5px; 
  background-color: #1b263b;
  margin-right: 70em;
}

.theaterAndTrailerContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.trailer {
  position: absolute;
  object-fit: inherit;
  margin-top: 9em;
  margin-left: 22em;
  z-index: -1;
  /* this is the theatre background */
}

#trailer {
  margin-top: 4%;
  margin-left: 33%;
  /*  this is the trailer  */
}

.formContainer {
  text-align: center;
  padding: auto;
  color: #fff;
  font-weight: 900;
  font-family: fantasy;
};